body {
  background-color: #c38b8b;
  font-family: "Ubuntu", sans-serif;
}

main {
  background-color: white;
  max-width: 40%;
  display: block;
  margin: 25px auto;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

select {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #9b5d73;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #9b5d73;
}

.city:last-child {
  border-bottom: none;
}

h2 {
  margin-bottom: 2px;
}

.date {
  opacity: 0.8;
}

.time {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 20px;
}

.time small {
  font-size: 20px;
  font-weight: 400;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: #fff1c5;
  font-size: 14px;
}

a {
  color: white;
}
